/.idea
/node_modules
/bower_components
/deploy
/src/.sass-cache
!/src/lib/cordova.js
/compile_web
/compile_android
/binary_builds/Android.3.3.0.build/www/*
!/binary_builds/Android.3.3.0.build/www/config.xml
binary_builds/Eclipse debug project/Fortehwin/assets/*
/compile_android.bat
/compile_web.bat
/deps.bat
/sen
/sen.bat
/src/test/qunit.js
/src/test/qunit.css
/compile_ios.bat
/gruntSettings.js
/src/css/normalize.css
/compile_ios
/src/serve this.bat
/src/start compass.bat
/.sass-cache
/_gruntSettings.js
/src/lib

/src/css/haku-style.css
